body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #e6e8f4;
}

#game {
    width: 80%;
    margin: auto;
    max-width: 600px;
}

#quote {
    /* border: 1px solid #ddd; */
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #d5e7f6;
    font-size: large;
}

#input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    /* background-color: #d5e7f6; */
}

#input.correct {
    border: 5px solid rgb(0, 201, 0);
}

#input.incorrect {
    border: 5px solid red;
}

#textAreaWrapper {
    position: relative;
}

#styledText {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    /* Other styling to make it look like a text area */
}

#hiddenInput {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    /* Other styling to match the size of styledText */
}

#reactionTestArea {
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #2b87d1!important;
}

button{
    background-color: #ffd154;
    border-radius: 5px;
    border: none;
    font-size: 1vw;
    padding: 5px;
}

.white{
    color: white;
    font-size: 5vw;
}

.challenge{
    color: white;
}

#input:focus {
    outline: none;
}