html {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Arabic Transparent", Arial, sans-serif;
    text-align: center;
    background: linear-gradient(to bottom, white, #dfb7e3);
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
.btn {
    background-color: #257cff;
}

.text {
    padding-left: 20px !important;
}

.test {
    background-color: #c4d3ec;
    background: linear-gradient(to top, #dfb7e371, #b5c7e771);
}
.panel,
.test {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    width: 1000px;
    margin: 0 auto;
    background-color: white;
    display: block;
    margin-top: 20px;
    border: none;
}
.table {
    margin-bottom: 0;
}

.progress-bar {
    background-color: #257cff;
    text-align: center;
    padding-left: 10px;
}

.left {
    text-align: left;
}

.username {
    font-size: 2vw;
    font-weight: 600;
}

.gray {
    color: #858585;
}

.welcome {
    font-size: 1.2vw !important;
}

.date {
    font-size: 1vw;
    font-weight: 600;
}

.name {
    padding-top: 1.5vh !important;
    font-size: clamp(1.5rem, 2.5vw, 2rem);
    font-weight: 600;
}

.table-striped > tbody > tr:nth-child(odd) {
    background-color: #f8f8f8;
}

.table-striped > tbody > tr:nth-child(even) {
    background-color: white;
}

.soon {
    padding-top: 1vh;
    font-size: larger;
    font-weight: bold;
}

.score {
    padding-top: 1.5vh !important;
}

.progress-bar {
    color: black;
    font-weight: bold;
}

th {
    font-size: clamp(2rem, 2.5vw, 2rem);
}

@media (max-width: 1100px) {
    .panel,
    .test {
        width: 500px;
        margin-top: 10px;
        padding: 10px;
    }
    .username {
        font-size: 5vw;
    }
    .welcome {
        font-size: 4vw !important;
    }
    .date {
        font-size: 4vw;
    }
    .name {
        font-size: clamp(1.5rem, 2.5vw, 2rem);
    }
}

@media (max-width: 520px) {
    .panel,
    .test {
        width: 95%;
        margin-top: 10px;
        padding: 10px;
    }
    .username {
        font-size: 5vw;
    }
    .welcome {
        font-size: 4vw !important;
    }
    .date {
        font-size: 4vw;
    }
    .name {
        font-size: clamp(1.5rem, 2.5vw, 2rem);
    }
    .progress-bar {
        max-width: 50px !important;
        color: black;
        font-weight: bold;
    }
    .btn-primary {
        padding: 8px;
        font-size: smaller;
    }
    .score {
        font-size: smaller;
    }
    th {
        font-size: clamp(1.5rem, 1.5vw, 1rem);
    }
}

.btn-primary {
    background-color: #b7bbe3;
    color: #000000;
}

.btn-primary:hover {
    background-color: #349e4b;
}

.progress-bar {
    background-color: #b7bbe3;
    color: Black;
    font-size: medium;
}
