html,
body {
    background-color: #e6e8f4;
    padding-top: 0;
    margin-top: 0;
    background: linear-gradient(to bottom, #e8c1eb, #dfb7e3);
}

#reactionTestArea {
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* background-color: #2b87d1; */
}

.blue {
    background-color: #2b87d1;
}

.red {
    background-color: #ce2636;
}

.green {
    background-color: #4bdb6a;
}

#message {
    font-size: 2em;
    color: white;
}

#reactionTime {
    font-size: 1.5em;
    color: yellow;
}

#name {
    color: white;
    font-size: 4vw;
}

#instruction {
    color: white;
    text-align: center;
}

#reactionTime {
    font-size: 4vw;
    color: white;
}

#saveScore,
#tryAgain {
    display: none; /* Initially hidden */
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button {
    background-color: #ffd154;
    border-radius: 5px;
    border: none;
}
