html,
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(to bottom, white, #dfb7e3);
    min-height: 100vh;
}

.test {
    margin-top: 10% !important;
    padding: 20px;
    width: 40%;
    margin: 0 auto;
    display: block;
}

#space-email {
    margin-top: 25px;
}
.blue {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    border: black solid 3px;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Pixelify+Sans&display=swap");

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    border-radius: 15px;
    min-height: 280px;
    min-width: 300px;
    background-color: white;
    overflow: hidden;
}

#container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    border-radius: 15px;
    min-height: 280px;
    min-width: 300px;
    background-color: white;
    overflow: hidden;
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 100%;
}

.input {
    margin-top: 0px;
    background-color: #eee;
    border: none;
    border-left: #dfb7e3 solid 1px;
    padding: 10px;
    border-bottom: #dfb7e3 solid 1px;
    width: 40%;
}

.top {
    background-color: #c4d3ec;
    background: linear-gradient(to left, #dfb7e3, #b5c7e7);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    border-radius: 30px;
    width: 100%;
}

label {
    display: block;
    font-size: 14px;
}
.test:hover .top {
    transition: 0.4s;
    border-radius: 30px 30px 10px 10px;
    width: 100%;
}

.top {
    transition: 0.4s;
    border-radius: 30px 30px 75px 75px;
    width: 100%;
}

.top:hover {
    transition: 0.4s;
    border-radius: 0;
    border-radius: 30px 30px 10px 10px;

    width: 100%;
}

.top:not(:hover) {
    transition: 0.4s;
    border-radius: 30px 30px 75px 75px;
    width: 100%;
}

.top h1 {
    color: white;
    font-size: 30px;
}

.login_option {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.account:not(:hover) {
    transition: 0.4s;
    border: solid 1px #ccc;
    box-shadow: none;
}

button {
    margin-top: 20px;
    padding: 10px 30px 10px 30px;
    background-color: #eee;
    border: solid 1px #ccc;
    border-radius: 5px;
}

button:hover {
    background-color: #ccc;
    transition: 0.4s;
    border: solid 1px #dfb7e3;
}

button:not(:hover) {
    transition: 0.4s;
    background-color: #eee;
}

.signup {
    margin-top: 10px;
    color: black;
    text-decoration: none;
    font-size: 12px;
    padding-bottom: 10px;
}

.form-error {
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
}

@media screen and (max-width: 1000px) {
    #container {
        min-width: 250px;
    }
    .test {
        width: 80%;
    }
    .top:hover {
        border-radius: 0;
        border-radius: 0 0 75px 75px;
        width: 97%;
    }
    #container2 {
        min-width: 250px;
    }
    button:hover {
        background-color: #eee;
        transition: none;
    }
    .account:hover {
        box-shadow: none;
        transition: none;
        border: solid 1px #ccc;
    }
    .input {
        width: 60%;
    }
}

@media screen and (max-width: 500px) {
    .test {
        width: 100%;
        background-color: transparent !important;
        box-shadow: none;
    }
    .blue {
        border-radius: 30px;
        border: black solid 3px;
    }
    .top {
        border-radius: 30px !important;
    }
    .input {
        width: 90%;
    }
}
.form-error {
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
}

.error {
    color: red;
    font-size: 0.9em;
    margin-top: 10px;
    margin-bottom: 10px;
}
