#wordDisplay {
    font-size: 24px;
    margin-bottom: 20px;
}
.button {
    margin-right: 10px;
    padding: 10px 20px;
    font-size: 16px;
}

body{
    background-color: #e6e8f4;
}

#reactionTestArea {
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #2b87d1!important;
}

#wordDisplay{
    color: white;
    font-size: 8vw;
}
#scoreDisplay{
    color: white;
    font-size: 2vw
}

button{
    background-color: #ffd154;
    border-radius: 5px;
    border: none;
}