<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SapienBenchmark Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../static/CSS/home.css">
    <link rel="stylesheet" href="../static/CSS/nav.css">

</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">SapienBenchmark</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Dashboard</a></li>
                <!-- <li><a href="#">Stats</a></li> -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Games
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/reaction">Reaction Time</a></li>
                        <li><a href="/aimtrainer">Aim Trainer</a></li>
                        <li><a href="/typing">Typing Speed</a></li>
                        <li><a href="/verbalmemory">Verbal Memory</a></li>
                    </ul>
                </li>
            </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    {% else %}
                        <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    {% endif %}
                </ul>
          </div>
          
        </div>
    </nav>
    <main>

        <section class="test">
            <div class="text">
                <h2 class="left gray welcome">Welcome</h2>
                <h3 class="left username">{{ username }}</h3>
                <h4 class="left gray welcome">Joined</h4>
                <h5 class="left date">{{ signup_date.strftime('%d-%m-%Y')}}</h5>
            </div>
        </section>

            <div class="panel panel-default">

                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Test</th>
                                <th>Actions</th>
                                <th>Score</th>
                                <th>Percentile</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="left name">Reaction Time</td>
                                <td class="left">
                                    <button class="btn btn-primary" onclick="location.href='/reaction'">Play</button>
                                    <!-- <button class="btn btn-primary" onclick="location.href='/reaction_stats'">Stats</button>                                </td> -->
                                <td class="left score">{{ (avg_reaction or 'N/A') ~ " ms" }}</td>
                                <td class="centre">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: {{ reaction_percentage }}%;">
                                            {% if reaction_percentage %}
                                                {{ reaction_percentage }}%
                                            {% endif %}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="left name">Aim Trainer</td>
                                <td class="left">
                                    <button class="btn btn-primary" onclick="location.href='/aimtrainer'">Play</button>
                                    <!-- <button class="btn btn-primary" onclick="location.href='/aimtrainer'">Stats</button> -->
                                </td>
                                <td class="left score">{{ (avg_aim or 'N/A') ~ " ms" }}</td>
                                <td class="centre">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: {{ aim_percentage }}%;">
                                            {% if aim_percentage %}
                                                {{ aim_percentage }}%
                                            {% endif %}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="left name">Typing Speed Test</td>
                                <td class="left">
                                    <button class="btn btn-primary" onclick="location.href='/typing'">Play</button>
                                    <!-- <button class="btn btn-primary" onclick="location.href='/typing'">Stats</button> -->
                                </td>
                                <td class="left score">{{ (avg_typing or 'N/A') ~ " WPM" }}</td>
                                <td class="centre">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: {{ typing_percentage }}%;">
                                            {% if typing_percentage %}
                                                {{ typing_percentage }}%
                                            {% endif %}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="left name">Verbal Memory Test</td>
                                <td class="left">
                                    <button class="btn btn-primary" onclick="location.href='/verbalmemory'">Play</button>
                                    <!-- <button class="btn btn-primary" onclick="location.href='/verbalmemory'">Stats</button> -->
                                </td>
                                <td class="left score">{{ (avg_verbal_memory or 'N/A') ~ " Points" }}</td>
                                <td class="centre">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: {{ verb_mem_percentage if verb_mem_percentage else '0' }}%;">
                                            {% if verb_mem_percentage %}
                                                {{ verb_mem_percentage }}%
                                            {% endif %}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="left name">Visual Memory Test</td>
                                <td class="left">
                                    <p class="soon">coming soon</p>
                                </td>
                                <td class="left"></td>
                                <td>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td class="left name">Number Memory Test</td>
                                <td class="left">
                                    <p class="soon">coming soon</p>
                                </td>
                                <td class="left"></td>
                                <td>
                                  
                                </td>
                            </tr>
                            <tr>
                                <td class="left name">Sequence Memory Test</td>
                                <td class="left">
                                    <p class="soon">coming soon</p>
                                </td>
                                <td class="left"></td>
                                <td>
                                   
                                </td>
                            </tr>
                            <tr>
                                <td class="left name">Chimp Test</td>
                                <td class="left">
                                    <p class="soon">coming soon</p>
                                </td>
                                <td class="left"></td>
                                <td>
                                   
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </main>
</body>
</html>
