<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Benchmark Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../static/CSS/home.css">
    <link rel="stylesheet" href="../static/CSS/nav.css">

</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">SapienBenchmark</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Dashboard</a></li>
                <li><a href="#">Stats</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Games
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/reaction">Reaction Time</a></li>
                        <li><a href="/aimtrainer">Aim Trainer</a></li>
                        <li><a href="/typing">Typing Speed</a></li>
                        <li><a href="/verbalmemory">Verbal Memory</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
              </ul>
          </div>
          
        </div>
    </nav>
    <main>

        <section class="test">
            <div class="text">
                <h2 class="left gray welcome">Welcome</h>
                <h3 class="left username">cjcol12</h3>
                <h4 class="left gray welcome">Joined</h4>
                <h5 class="left date">21/11/23</h5>
            </div>
        </section>

            <div class="panel panel-default">

                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Test</th>
                                <th>Actions</th>
                                <th>Score</th>
                                <th>Percentile</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="left name">Reaction Time</td>
                                <td class="left">
                                    <button class="btn btn-primary" onclick="location.href='reaction.html'">Play</button>
                                    <button class="btn btn-primary" onclick="location.href='reaction.html'">Stats</button>                                </td>
                                <td class="left score">166 ms</td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 92.3%;">
                                            92.3%
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="left name">Aim Trainer</td>
                                <td class="left">
                                    <button class="btn btn-primary" onclick="location.href='aimtrainer.html'">Play</button>
                                    <button class="btn btn-primary" onclick="location.href='aimtrainer.html'">Stats</button>
                                </td>
                                <td class="left score">166 ms</td>
                                <td class="prog">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 92.3%;">
                                            92.3%
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="left name">Typing Speed Test</td>
                                <td class="left">
                                    <button class="btn btn-primary" onclick="location.href='typing.html'">Play</button>
                                    <button class="btn btn-primary" onclick="location.href='typing.html'">Stats</button>
                                </td>
                                <td class="left score">166 ms</td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 92.3%;">
                                            92.3%
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="left name">Verbal Memory Test</td>
                                <td class="left">
                                    <button class="btn btn-primary" onclick="location.href='reaction.html'">Play</button>
                                    <button class="btn btn-primary" onclick="location.href='reaction.html'">Stats</button>
                                </td>
                                <td class="left score">166 ms</td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 92.3%;">
                                            92.3%
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="left name">Visual Memory Test</td>
                                <td class="left">
                                    <p class="soon">coming soon</p>
                                </td>
                                <td class="left"></td>
                                <td>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td class="left name">Number Memory Test</td>
                                <td class="left">
                                    <p class="soon">coming soon</p>
                                </td>
                                <td class="left"></td>
                                <td>
                                  
                                </td>
                            </tr>
                            <tr>
                                <td class="left name">Sequence Memory Test</td>
                                <td class="left">
                                    <p class="soon">coming soon</p>
                                </td>
                                <td class="left"></td>
                                <td>
                                   
                                </td>
                            </tr>
                            <tr>
                                <td class="left name">Chimp Test</td>
                                <td class="left">
                                    <p class="soon">coming soon</p>
                                </td>
                                <td class="left"></td>
                                <td>
                                   
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <h2>Reaction Time Test</h2>
            <p>Test your visual reflexes.</p>
            <button class="btn btn-primary" onclick="location.href='reaction.html'">Play</button>
            <button class="btn btn-default">Stats</button>
            <p><br></p>
            <p>166 ms</p>

            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 92.3%;">
                    92.3%
                </div>
            </div>
        </section> -->
    </main>
</body>
</html>
