<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login</title>

        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="../static/CSS/signup.css" />
        <link rel="stylesheet" href="../static/CSS/nav.css" />

        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button
                        type="button"
                        class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target="#navbar"
                        aria-expanded="false"
                        aria-controls="navbar"
                    >
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">SapienBenchmark</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Dashboard</a></li>
                        <!-- <li><a href="#">Stats</a></li> -->
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#"
                                >Games <span class="caret"></span
                            ></a>
                            <ul class="dropdown-menu">
                                <li><a href="/reaction">Reaction Time</a></li>
                                <li><a href="/aimtrainer">Aim Trainer</a></li>
                                <li><a href="/typing">Typing Speed</a></li>
                                <li><a href="/verbalmemory">Verbal Memory</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if current_user.is_authenticated %}
                        <li>
                            <a href="/logout"
                                ><span class="glyphicon glyphicon-log-out"></span> Logout</a
                            >
                        </li>
                        {% else %}
                        <li>
                            <a href="/signup"
                                ><span class="glyphicon glyphicon-user"></span> Sign Up</a
                            >
                        </li>
                        <li>
                            <a href="/login"
                                ><span class="glyphicon glyphicon-log-in"></span> Login</a
                            >
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <link rel="icon" type="image/png" href="../static/images/fav.png">

    </head>
    <body>
        <section class="test">
            <section class="blue">
                <div class="top">
                    <h1>Log In Page</h1>
                </div>
                <form method="POST" action="" id="loginForm">
                    {{ form.hidden_tag() }}

                    <label id="space-email" for="email">Email</label>
                    <input type="email" placeholder="Email" class="input" name="email" id="email" required />
                    <small id="emailError" class="form-error"></small>
                    
                    <label for="password">Password</label>
                    <input type="password" placeholder="Password" class="input" name="password" id="password" required />
                    <small id="passwordError" class="form-error"></small>
                    
                    {% if error_message %}
                        <p class="error">{{ error_message }}</p>
                    {% endif %}
                    <button name="login" type="submit">Log In</button>
                    <a href="/signup" class="signup">Don't have an account?</a>
                </form>


        </section>
        <script src="../static/JS/login.js"></script>
    </body>
</html>
