<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Typing Speed Test</title>

        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="../static/CSS/typing.css" />
        <link rel="stylesheet" href="../static/CSS/nav.css" />

        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button
                        type="button"
                        class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target="#navbar"
                        aria-expanded="false"
                        aria-controls="navbar"
                    >
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">SapienBenchmark</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Dashboard</a></li>
                        <!-- <li><a href="#">Stats</a></li> -->
                        <li class="dropdown active">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#"
                                >Games <span class="caret"></span
                            ></a>
                            <ul class="dropdown-menu">
                                <li><a href="/reaction">Reaction Time</a></li>
                                <li><a href="/aimtrainer">Aim Trainer</a></li>
                                <li class="active"><a href="/typing">Typing Speed</a></li>
                                <li><a href="/verbalmemory">Verbal Memory</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if current_user.is_authenticated %}
                        <li>
                            <a href="/logout"
                                ><span class="glyphicon glyphicon-log-out"></span> Logout</a
                            >
                        </li>
                        {% else %}
                        <li>
                            <a href="/signup"
                                ><span class="glyphicon glyphicon-user"></span> Sign Up</a
                            >
                        </li>
                        <li>
                            <a href="/login"
                                ><span class="glyphicon glyphicon-log-in"></span> Login</a
                            >
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </head>
    <body>
        <div id="reactionTestArea">
            <div id="game">
                <h1 class="white">Typing Test</h1>
                <h2 class="challenge">How many words per minute can you type?</h2>
                <p id="quote"></p>

                <label for="input">Start typing!</label>
                <textarea
                    id="input"
                    onpaste="return false;"
                    placeholder="Start typing..."
                ></textarea>

                <h3 id="timer">Time left: 60s</h3>
                <h3 id="wpm">WPM: 0</h3>
                <form
                    action="{{ url_for('submit_typing_score') }}"
                    method="post"
                    id="typingScoreForm"
                >
                    <input type="hidden" name="score" id="typingScoreInput" />
                    <button id="reset">Restart</button>

                    <button type="submit" id="saveScoreBtn" style="display: none">
                        Save Score
                    </button>
                </form>
            </div>
        </div>
        <script src="../static/JS/typing.js"></script>
    </body>
</html>
