<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Verbal Memory Game</title>
        <script src="../static/JS/verbalmemory.js"></script>
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button
                        type="button"
                        class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target="#navbar"
                        aria-expanded="false"
                        aria-controls="navbar"
                    >
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">SapienBenchmark</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Dashboard</a></li>
                        <li><a href="#">Stats</a></li>
                        <li class="dropdown active">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#"
                                >Games <span class="caret"></span
                            ></a>
                            <ul class="dropdown-menu">
                                <li><a href="/reaction">Reaction Time</a></li>
                                <li><a href="/aimtrainer">Aim Trainer</a></li>
                                <li><a href="/typing">Typing Speed</a></li>
                                <li class="active">
                                    <a href="/verbalmemory">Verbal Memory</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if current_user.is_authenticated %}
                        <li>
                            <a href="/logout"
                                ><span class="glyphicon glyphicon-log-out"></span> Logout</a
                            >
                        </li>
                        {% else %}
                        <li>
                            <a href="/signup"
                                ><span class="glyphicon glyphicon-user"></span> Sign Up</a
                            >
                        </li>
                        <li>
                            <a href="/login"
                                ><span class="glyphicon glyphicon-log-in"></span> Login</a
                            >
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <link rel="stylesheet" href="../static/CSS/verbalmemory.css" />
        <link rel="stylesheet" href="../static/CSS/nav.css" />
    </head>
    <body>
        <div id="reactionTestArea">
            <div id="wordDisplay"></div>
            <div id="scoreDisplay">Score: 0</div>
            <div id="gameButton">
                <button class="button" onclick="userResponse(false)">New Word</button>
                <button class="button" onclick="userResponse(true)">Seen</button>
            </div>
            <form
                action="{{ url_for('submit_verbal_memory_score') }}"
                method="post"
                id="verbalMemoryScoreForm"
            >
                <input type="hidden" name="score" id="verbalMemoryScoreInput" />
                <button type="submit" id="saveVerbalMemory" style="display: none">
                    Save Score
                </button>
            </form>
        </div>
    </body>
</html>
